<% provide(:title, "Help") %>

<h1>Help</h1>
<p>TUMitfahrer is a car sharing platform for students.
It lets you:
<ol>
  <li>Drive to the campus</li>
  <li>Discover new places</li>
  <li>Meet other students</li>
</ol></p>
