<div class="center jumbotron">
  <h1>TUMitfahrer</h1>

  <p>Car sharing platform for students</p>

  <%= link_to 'Sign up now!', signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="main-section center">
  <div class="even-section">
    <h2>How does it work?</h2>
    <iframe src="//player.vimeo.com/video/58241549" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>


</div>

<div class="main-section center">
  <div class="odd-section">
    <h2>Download mobile app </h2>

    <%= link_to image_tag("App_Store.png", height: '60', width: '170', alt: "App Store"), '#' %>
    <%= link_to image_tag("Play_Store.png", height: '60', width: '170', alt: "Play Store"), '#' %>

  </div>
</div>