<div class="container_main">
  <% provide(:title, "Privacy Statement") %>

  <div class="row new_ride_background main_div" id="main_img" style="background: url('<%= asset_path "1.jpg"%>')  no-repeat center center fixed">
    <div class="ride_new_page_background">
      <div class="row">
        <div class="col-xs-1 col-md-3">
        </div>
        <div class="col-xs-10 col-md-6 ride_new_form" >
          <div class="panel panel-primary" style="width: 100%; border: none;">
            <div class="panel-heading ride_new_heading" style="background: black; border-color: black;">
              <h3 class="panel-title" style="color: #f2f2f2;"><%= t("static.privacy") %></h3>
            </div>
            <div class="panel-body panel_body_background" style="height: 400px">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <b><%= t("static.privacy_general") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.privacy_general_desc") %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-md-3"></div>
      </div>
    </div>
  </div>
</div>
