<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @user.first_name %></h1>
<p>
  Welcome to TUMitfahrer!

  Your username is: <%= @user.email %>.<br/>
  Your password is: <%= @new_password %><br/>
</p>

<p>Thanks for joining and have a great ride!</p>
</body>
</html>