// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type="radio"], label{
  float:left;
}
input{
  clear:left;
}

new_ride_background {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #3276b1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #ffffff; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

#ck-button {
  margin:4px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
}

#ck-button label {
  float:left;
  width:2.0em;
  margin-bottom: 0px;
}

#ck-button label span {
  text-align:center;
  padding:3px 0px;
  display:block;
  border-radius:4px;
}

#ck-button label input {
  //position:absolute;
  top:-20px;
}

#ck-button input:hover + span {
  background-color:#efE0E0;
}

#ck-button input:checked + span {
  background-color:#3276b1;
  color:#fff;
}

#ck-button input:checked:hover + span {
  background-color:#3276b1;
  color:#fff;
}

.error{color: red;}

.ride_new_page_background {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.ride_new_form {

  margin-top: 20px;
  background: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
}

.ride_new_heading {
  background: #0076b3;
  color: #beddf1;
  border-radius: 0px;
}

.ride_new_icons {
  height: 16px;
  float: left;
  margin-top: 2px;
  margin-right: 15px

}
