<!--<footer class="footer">-->
  <!--<nav>-->
    <!--<ul>-->
      <!--<li><%#= link_to 'About', about_path %></li>-->
      <!--<li><%#= link_to 'Help', help_path %></li>-->
      <!--<li><%#= link_to 'Contact', contact_path %></li>-->
    <!--</ul>-->
  <!--</nav>-->

<!--</footer>-->

<div class="container jumbotron container_main" style=" margin-bottom: 0px; color: white; background: black;" >
  <div class="row" style="margin:0 auto">
    <div class="col-md-4">
    </div>
    <div class="col-md-1" >
      About
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
      Contact
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" style="margin:0 auto">
    <div class="col-md-5">
    </div>
    <div class="col-md-2"  style="text-align: center;">
      TUMitfahrer
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>